{% if wo_breadcrumbs()|length %}
  <ul id="wo-breadcrumbs">
    {% for b in wo_breadcrumbs() %}
      {% if b|wo_is_final_breadcrumb %}
        <li>{{ b.text }}</li>
      {% else %}
        <li><a href="{{ b.url }}">{{ b.text }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
