<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Test/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="BreadcrumbsBundle Test Suite">
            <directory>Test/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">/</directory>
        </whitelist>
    </filter>
</phpunit>
